[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
"django-extensions" = "*"
ptpython = "*"
pytest = "*"
"pytest-django" = "*"
"django-debug-toolbar" = "*"
coverage = "*"
"pytest-cov" = "*"


[dev-packages]

[requires]
python_version = "3.6"